html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #170a3a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  background-color: #333;
}

.calendar {
  background: #333;
}
