:root {
  --main-bg-color: #eee;
  --main-bg-color-light: #fff;
  --main-bg-color-dark: #ddd;
  --main-bg-color-darker: #ccc;
  --main-txt-color: #aaa;
}

// :root {
//   --main-bg-color: #333;
//   --main-bg-color-light: #444;
//   --main-bg-color-dark: #222;
//   --main-txt-color: #aaa;
// }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--main-txt-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  background-color: var(--main-bg-color);
}

/* To change the background color of the calendar, it needs to be targeted globally */
.calendar {
  background: var(--main-bg-color);
}

.dashboard__container {
  margin: 1rem 0;
  padding: 2rem;
  border: 2px solid var(--main-bg-color);
  border-radius: 7px;
  box-shadow: inset 4px 4px 4px var(--main-bg-color-dark),
    inset -4px -4px 4px var(--main-bg-color-light);
}
